//monospace font for widgets
@import url('https://fonts.googleapis.com/css?family=PT+Mono');

.futura-pt-bold {
  font-family: "Futura PT W01 Bold", sans-serif;
}

.futura-pt-md {
  font-family: "Futura PT W01 Medium", sans-serif;
}

.futura-pt-light {
  font-family: "Futura PT W01 Light", sans-serif;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.text-align-center {
  text-align: center;
}

.font-weight-bold {
  font-weight: bold;
}

.text-nowrap {
  white-space: nowrap;
}

.font-style-italic {
  font-style: italic;
}

/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/

@import url("https://fast.fonts.net/t/1.css?apiType=css&projectid=1d575057-2e22-480a-b50f-e1fd3a1b4e9d");


@font-face {
  font-family: "Futura PT W01 Bold";
  src: url("../fonts/88a061c2-3303-401d-85e9-619b5ea5f5af.eot?#iefix");
  src: url("../fonts/88a061c2-3303-401d-85e9-619b5ea5f5af.eot?#iefix") format("eot"),
  url("../fonts/1a34942e-33ed-43bb-b229-7460d55b49f7.woff2") format("woff2"),
  url("../fonts/baecea54-cfd3-4578-8717-abf89eba62b6.woff") format("woff"),
  url("../fonts/f275eebe-30f5-4068-9294-51dc44c8409e.ttf") format("truetype");
}

@font-face {
  font-family: "Futura PT W01 Medium";
  src: url("../fonts/c0b084f4-7139-4e63-ba96-7f3a421195c3.eot?#iefix");
  src: url("../fonts/c0b084f4-7139-4e63-ba96-7f3a421195c3.eot?#iefix") format("eot"),
  url("../fonts/f7552419-a773-41ab-ae4a-b12b1d853f02.woff2") format("woff2"),
  url("../fonts/83e72918-97c3-41cd-8a7d-4056788a00f0.woff") format("woff"),
  url("../fonts/5b88228b-bd3b-49f4-b7c2-db89968ce116.ttf") format("truetype");
}

@font-face {
  font-family: "Futura PT W01 Light";
  src: url("../fonts/9869762c-2f06-40c3-929e-2d412d64cd87.eot?#iefix");
  src: url("../fonts/9869762c-2f06-40c3-929e-2d412d64cd87.eot?#iefix") format("eot"),
  url("../fonts/9ad55860-bbe2-4e51-be58-08b45bdda354.woff2") format("woff2"),
  url("../fonts/eceb6e13-403b-4d2b-af74-c05bc9c2535e.woff") format("woff"),
  url("../fonts/956fd236-834e-4736-91af-a04cadf17544.ttf") format("truetype");
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,

h4, .h4 {
  font-size: 20px; // from Anh
}