.Alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.Alert h4 {
  margin-top: 0;
  color: inherit;
}

.Alert .Alert-link {
  font-weight: bold;
}

.Alert > p,
.Alert > ul {
  margin-bottom: 0;
}

.Alert > p + p {
  margin-top: 5px;
}

.Alert-dismissable,
.Alert-dismissible {
  padding-right: 35px;
}

.Alert-dismissable .close,
.Alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.Alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.Alert-success hr {
  border-top-color: #c9e2b3;
}

.Alert-success .Alert-link {
  color: #2b542c;
}

.Alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.Alert-info hr {
  border-top-color: #a6e1ec;
}

.Alert-info .Alert-link {
  color: #245269;
}

.Alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.Alert-warning hr {
  border-top-color: #f7e1b5;
}

.Alert-warning .Alert-link {
  color: #66512c;
}

.Alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.Alert-danger hr {
  border-top-color: #e4b9c0;
}

.Alert-danger .Alert-link {
  color: #843534;
}