$half-opacity-fastmodel-gray: transparentize(#444, 0.30);

.Modal--container {
  @extend %full-screen;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  z-index: $modal-zindex;

  .Modal--backdrop {
    @extend %full-screen;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .Modal--content {
    width: 100%;
    // used to form a new stacking context on top of the fixed backdrop
    position: relative;
    background-color: white;
    margin: 6rem 1rem;
    border-radius: 4px;
    box-shadow: 0 2px 4px 1px $half-opacity-fastmodel-gray;
    border: 1px solid $half-opacity-fastmodel-gray;

    @media (min-width: 767px) {
      &.sm {
        width: 50%;
      }
      &.lg {
        width: 90%;
      }
      &.xs {
        width: 30%;
        min-width: 415px;
      }
      &.full {
        width: 100%;
        border: none;
        margin: 0;
        border-radius: 0;
      }
    }

    @media (max-height: 600px) {
      margin: 1rem;
    }
  }
}

// enter animation
.Modal-enter {
  .Modal--backdrop {
    opacity: 0.01;
  }

  .Modal--content {
    opacity: 0.01;
    transform: scale(1.1);
  }

  &.Modal-enter-active {
    .Modal--backdrop {
      transition: opacity 0.3s;
      opacity: 1;
    }
    .Modal--content {
      transition: transform 0.3s, opacity 0.3s;
      opacity: 1;
      transform: scale(1);
    }
  }
}

// leave animation
.Modal-exit {
  .Modal--backdrop {
    opacity: 1;
  }
  .Modal--content {
    opacity: 1;
    transform: scale(1);
  }

  &.Modal-exit-active {
    .Modal--backdrop {
      transition: opacity 0.3s;
      opacity: 0.01;
    }
    .Modal--content {
      transition: transform 0.3s, opacity 0.3s;
      opacity: 0.01;
      transform: scale(1.1);
    }
  }
}

// support for stacking modals via the 'aside' prop
.Modal--dialog-aside {
  perspective: 2000px;

  .Modal--content {
    transition: transform 0.3s, opacity 0.3s;
  }

  @for $i from 1 through 5 {
    &.aside-#{$i} {
      $z-translate: (180 + ($i * 40)) * -1;
      .Modal--content {
        transform: scale(0.8) rotateY(45deg) translate(#{$z-translate}px);
        transform-style: preserve-3d;
      }
    }
  }
}