.sidebar {
  @extend %full-screen;
  z-index: $sidebar-zindex;

  .sidebar-backdrop {
    @extend %full-screen;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .sidebar-content {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    max-width: 100%;
    background-color: white;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.4);
  }
}

.sidebar-enter {
  .sidebar-content {
    transform: translateX(-100%);
  }

  .sidebar-backdrop {
    opacity: 0.01;
  }

  &.sidebar-enter-active {
    .sidebar-content {
      transition: transform 0.3s ease-out;
      transform: translateX(0%);
    }

    .sidebar-backdrop {
      transition: opacity 0.3s;
      opacity: 1;
    }
  }
}

.sidebar-exit {
  .sidebar-content {
    transform: translateX(0%);
  }

  .sidebar-backdrop {
    opacity: 1;
  }

  &.sidebar-exit-active {
    .sidebar-content {
      transition: transform 0.3s ease-out;
      transform: translateX(-100%);
    }

    .sidebar-backdrop {
      transition: opacity 0.3s;
      opacity: 0;
    }
  }
}